.teachers{
    background-color: lightgray;
    width: 20%;
    text-align: center;
    margin: 10px;
}

.pm{
    background-color: lightgreen;
    width: 20%;
    text-align: center;
    margin: 10px;
}

